
@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuri-Light.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuri-LightItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuri-Regular.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuri-Italic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuri-Medium.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuri-MediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuri-SemiBold.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuri-SemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuri-Bold.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuri-BoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuri-ExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuri-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuri-ExtraBoldItalic.TTF') format('truetype');
}
