
@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuriTerm-Light.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuriTerm-LightItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuriTerm-Regular.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuriTerm-Italic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuriTerm-Medium.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuriTerm-MediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuriTerm-SemiBold.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuriTerm-SemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuriTerm-Bold.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuriTerm-BoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaMatsuriTerm-ExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Matsuri Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaMatsuriTerm-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaMatsuriTerm-ExtraBoldItalic.TTF') format('truetype');
}
